.container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;

  height: 100vh;
  background: var(--tg-theme-secondary-bg-color);
  color: var(--tg-theme-text-color);

  h1 {
    text-align: center;
  }
  .user {
    color: var(--tg-theme-accent-text-color);
  }
}
.wrapHello {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 10; /* Чтобы header был поверх других элементов */
  background: var(--tg-theme-secondary-bg-color); /* Цвет фона для header */

  padding: 20px;
}
.chatHistory {
  flex-grow: 1;
  margin-top: 64px;
  overflow-y: auto;
}
.customTextarea {
  position: sticky; /* Прилипание к низу */
  bottom: 0;
  z-index: 10; /* Чтобы textarea был поверх других элементов */

  padding: 10px 20px 20px 20px; /* Отступы внутри textarea */
}

.btn {
  width: 200px;
  padding: 10px 20px;
  background-color: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Стиль при наведении */
.btn:hover {
  background-color: var(--tg-theme-secondary-bg-color); /* Изменение цвета при наведении */
}

/* Стиль при нажатии */
.btn:active {
  background-color: var(--tg-theme-link-color); /* Изменение цвета при нажатии */
}

/* Стиль для отключенной кнопки */
.btn:disabled {
  background-color: var(--tg-theme-secondary-bg-color);
  color: var(--tg-theme-hint-color);
  cursor: not-allowed;
  opacity: 0.7;
}
