.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.btn {
  color: var(--tg-theme-text-color);
  cursor: pointer;
}
.unactive {
  color: #999999;
}
.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); // Полупрозрачный черный фон
  z-index: 10000; // Нужно, чтобы был ниже Drawer

  .modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    max-width: 320px;
    height: 130px;
    padding: 15px;
    background: var(--tg-theme-secondary-bg-color);
    border-radius: 10px;
    text-align: center;

    h2 {
      font-weight: 600;
      font-size: 18px;
      color: var(--tg-theme-text-color);
    }

    .btns {
      display: flex;
      justify-content: space-between;

      button {
        padding: 10px 15px;
        background: var(--tg-theme-secondary-bg-color);
        border: 1px solid var(--tg-theme-text-color);
        font-size: 14px;
        border-radius: 8px;
        color: var(--tg-theme-text-color);
        transition: all 0.2s ease-in-out;
        text-transform: uppercase;
        opacity: 1;

        &:hover {
          border-color: var(--tg-theme-button-color);
          color: var(--tg-theme-button-color);
          opacity: 0.7;
        }
        &:active {
          opacity: 0.9;
        }
      }
      .yes {
        background: var(--tg-theme-button-color);
        border-color: var(--tg-theme-button-color);
        transition: all 0.2s ease-in-out;
        color: #fff;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}
