.custom_textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--tg-theme-bg-color);
  background: var(--tg-theme-bg-color);
  border-radius: 12px;
  position: relative;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.active {
  border: 1px solid var(--tg-theme-bg-color);
  box-shadow: 0 0 4px var(--tg-theme-subtitle-text-color);
}

.keyboard_open {
  padding-bottom: 150px; /* Поднимаем контент при открытой клавиатуре */
}

.textarea {
  width: 100%; /* Ширина textarea */
  min-height: 20px; /* Минимальная высота для одной строки */
  max-height: 180px; /* Максимальная высота для 9 строк (20px * 9) */
  resize: none;
  font-size: 14px;
  box-sizing: border-box;
  overflow-y: auto; /* Появление скролла при превышении максимальной высоты */
  line-height: 20px; /* Высота строки для точного расчета */
  outline: none;
  font-family: inherit;
  font-size: inherit;

  &::placeholder {
    color: #bfbfbf; /* Цвет плейсхолдера */
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.btn {
  display: flex;
  //width: 32px;
  //height: 32px;
  padding: 7px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  background-color: var(--tg-theme-secondary-bg-color);

  cursor: pointer;
  transition: all 0.3s ease;
}

.brainBtn {
  border-radius: 8px;
  padding: 6px 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  position: absolute;
  left: 50px;
  bottom: 11px;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

.activeBrain {
  background-color: var(--tg-theme-button-color);
  opacity: 1;
}

.isLight {
  background: #c0c0c0;
}

.activeBtn {
  background-color: var(--tg-theme-button-color);
  color: #fff;
}
