/* Общие отступы для всего приложения */
#app {
  padding-top: env(safe-area-inset-top);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  box-sizing: border-box;
  transition: transform 0.3s ease;
}

/* Контент внутри */
.content {
  padding-top: env(content-safe-area-inset-top);
  padding-bottom: env(content-safe-area-inset-bottom);
}

/* Когда клавиатура открыта */
.keyboard-open #app {
  padding-bottom: 300px; /* Отступ, чтобы контент не перекрывался */
}

.keyboard-open input,
.keyboard-open textarea {
  scroll-margin-bottom: 150px; /* Добавляет отступ для прокрутки */
}
